// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body{
    margin: 0%;
    min-height: 970px;
    font-family: 'six_capsregular';
    src: url('/fonts/Six Caps/adamina-regular-webfont.woff2') format('woff2'),
         url('/fonts/Six Caps/adamina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    user-select: none;
}

/* Set height to 100% for relevant containers */
html, body, #content-div, #afl-div, #app-div{
    height: 100%;
}

/* Centre these divs */
#app, #afl-logo{
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/* These divs are not relative to its parent div*/
#afl-logo, #footy-label, #admin-label{
    position: absolute;
}

#app{
    position: relative;
}

#afl-div{
    background-color: #5772FF;
}

#afl-div-admin{
    background-color: #000000;
}

#afl-logo{
    width: 80%;
    height: auto;
}

#footy-label, #admin-label{
    font-size: 80px;
    right: 50px;
    bottom: 1px;
    z-index: -1;
    color: #44CCCC;
    opacity: 35%;
}

#footy-label{
    color: #44CCCC;
}

#admin-label{
    color: #000000;
}

.row{
    margin: 0px;
}

@media only screen and (max-width: 1650px){
    #footy-label{
        display: none;
    }
}

@media only screen and (max-width: 375px){
    html, body{
        min-height: 101%;
    }
}