// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/**** Header CSS ****/
html, body{
    margin: 0%;
    height: 100%;
}

#app-div{
    height: 100%;
}

#afl-div{
    background-color: #5772FF;
    height: 100%;
}

#afl-logo{
    height: 431px;
    width: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}